<div id="titlebox" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Spelling Bees</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#create-child">Create Child</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}} </strong>{{errorMsg}}
</div>
<div class="container">
    <form class="form-create">
        <h2 class="form-create-heading">Create an account</h2>
        <input type="text" ng-model="req.childUserCreateRequest.username" placeholder="User name"
               class="form-control"/>
        <input id="password" type="password" ng-model="req.childUserCreateRequest.password" placeholder="password"
               class="form-control"/>
        <input id="confirmPassword" type="password" ng-model="req.childUserCreateRequest.confirmPassword"
               placeholder="Confirm password" class="form-control"/>
        <input type="text" ng-model="req.childUserCreateRequest.stateName" placeholder="State" class="form-control"/>
        <input type="text" ng-model="req.childUserCreateRequest.cityName" placeholder="City" class="form-control"/>
        <input type="text" ng-model="req.childUserCreateRequest.schoolName" placeholder="School" class="form-control"/>
        <input type="text" ng-model="req.childUserCreateRequest.gradeName" placeholder="Grade" class="form-control"/>
        <div class="checkbox-inline">
            <label><input type="checkbox" ng-model="req.childUserCreateRequest.isPrivate" class="form-control">Is this a private school?</label>
        </div>
        <div class="checkbox-inline">
            <label><input type="checkbox" ng-model="req.childUserCreateRequest.isHome" class="form-control">Is this a home school?</label>
        </div>
        <p>If neither of the above two boxes are checked, this is considered a public school.</p>
        <button id="create" ng-click="createChild()" class="btn btn-lg btn-primary btn-block">Create Child</button>
    </form>
</div>
<hr class="featurette-divider"/>