<div id="titlebox" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Spelling Bees</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="page-header banner"></div>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}} </strong>{{errorMsg}}
</div>
<div class="alert alert-success" ng-show="msg">
    <strong>{{msgBold}} </strong>{{msg}}
</div>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" ng-model="req.editParentRequest.oldPassword" placeholder="old password"
               class="form-control"/>
        <input type="password" ng-model="req.editParentRequest.password" placeholder="password" class="form-control"/>
        <input type="password" ng-model="req.editParentRequest.confirmPassword" placeholder="confirm password" class="form-control"/><br/>
        <button id="update-password" ng-click="updatePassword()" class="btn btn-lg btn-primary btn-block">Update Password</button>
    </form>
</div>
<hr class="featurette-divider"/>