<div id="titlebox" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Spelling Bees</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}} </strong>{{errorMsg}}
</div>
<div class="alert alert-success" ng-show="msg">
    <strong>{{msgBold}} </strong>{{msg}}
</div>
<div class="container">
    <accordion close-others="oneAtATime">
        <accordion-group heading="{{child.username}}" ng-repeat="child in children">
            <form class="form-signin">
                <h2 class="form-signin-heading">Provide the original and new passwords below</h2>
                <input type="hidden" ng-model="req.editChildRequest.childId" value="{{child.id}}" class="form-control"/>
                <input type="password" ng-model="req.editChildRequest.originalPassword" placeholder="Original password"
                       class="form-control"/>
                <input type="password" ng-model="req.editChildRequest.password" placeholder="New password"
                       class="form-control"/>
                <input type="password" ng-model="req.editChildRequest.confirmPassword" placeholder="Confirm password"
                       class="form-control"/>
                <button id="editChildPassword" ng-click="editChildPassword()" class="btn btn-lg btn-primary btn-block">Change Password</button>
            </form>
        </accordion-group>
    </accordion>
</div>

