<div id="titlebox" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Spelling Bees</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="page-header banner"></div>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}} </strong>{{errorMsg}}
</div>
<div class="alert alert-success" ng-show="msg">
    <strong>{{msgBold}} </strong>{{msg}}
</div>
<div class="container">
    <accordion close-others="oneAtATime" ng-init="children">
        <accordion-group heading="{{parentChild.username}}" ng-repeat="parentChild in children">
            <form class="form-signin">
                <h2 class="form-signin-heading">Provide the original and new passwords below</h2>
                <input type="password" ng-model="req.editChildRequest.originalPassword" placeholder="Original password"
                       class="form-control"/>
                <input type="password" ng-model="req.editChildRequest.password" placeholder="New password"
                       class="form-control"/>
                <input type="password" ng-model="req.editChildRequest.confirmPassword" placeholder="Confirm password"
                       class="form-control"/>
                <input type="text" ng-model="parentChild.stateAbbr" class="form-control"/>
                <input type="text" ng-model="parentChild.cityName" class="form-control"/>
                <input type="text" ng-model="parentChild.schoolName" class="form-control"/>
                <input type="text" ng-model="parentChild.grade" class="form-control"/>
                <button id="editChildPassword" ng-click="editChild(child.id, parentChild.stateAbbr, parentChild.cityName, parentChild.schoolName, parentChild.grade)"
                        class="btn btn-lg btn-primary btn-block">Update Child</button>
            </form>
        </accordion-group>
    </accordion>
</div>
<hr class="featurette-divider"/>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <h2>Manage children</h2>
            <p><a href="#create-child">Create</a> a child account</p>
            <p><a href="#find-children">Edit</a> a child account</p>
            <p><a href="#edit-word">Check </a>how your child is doing</p>
        </div>
        <div class="col-lg-4">
            <h2>Manage words</h2>
            <p><a href="#create-word">Create</a> a new word</p>
            <p><a href="#edit-word">Edit </a> incorrectly spelled words</p>
        </div>
        <div class="col-lg-4">
            <h2>Manage yourself</h2>
            <p><a href="#edit-parent">Edit </a> your account</p>
        </div>
    </div>
</div>

